/* NAVR-BAR */
.navBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(195, 188, 188);
    color: aliceblue;
    align-items: center;
}

.navBar-logo {
    align-items: center;
}

.navBar-logo img {
    height: 80px;
    width: 100px;
}

#search-input {
    height: 32px;
    border-radius: 5px;
    border: none;
    width: 200px;
    outline: none;
}

.navBar-categories {
    display: flex;
    justify-content: space-around;
}

.nvarBar-categories-content {
    margin: 0 40px;
    font-weight: 800;
    font-size: 20px;
}

.navBar-left {
    display: flex;
    justify-content: space-between;
}

.nvarBar-left-content {
    margin: 0 20px;   
}

.nvarBar-left-content a {
 color: aliceblue;
text-decoration: none;  
}


/* BANNER */
.banner {
    width: 100%;
    height: 800px;
}

.banner-content {
    width: 100%;
    display: flex;
    height: 100%;
    margin-top: -10;
}

.banner-content video {
    width: 100%;
}





/* PRODUCT BOY OR GIRL */
.product-man-woman {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.product-man {
    width: calc((100%/12)*6);
    width: 100%;
    margin-left: 10%;

}

.product-woman {
    width: calc((100%/12)*6);
    width: 100%;
    margin-right: 10%;
}

.new-item {
    margin-top: 100px;
}


.new-item-title {
    text-align: center;
    color: rgb(79, 79, 79);
    margin-bottom: -20px;
}


.new-item-content {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    text-align: center;
}

.new-item-item {
    width: 100%;
    margin: 0 20px;
}

.new-item-item-img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 20px;
}

.new-item-item img {
    width: 100%;
    margin: 10 20;
}

.new-item-item-name,
.new-item-item-price {
    font-size: 20px;
    font-weight: 800;
    color: rgb(128, 128, 128);
}



.best-seller {
    margin-top: 100px;
}


.best-seller-title {
    text-align: center;
    color: rgb(79, 79, 79);
    margin-bottom: -20px;
}


.best-seller-content {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    text-align: center;
}

.best-seller-item {
    width: 100%;
    margin: 0 20px;
}

.best-seller-item-img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 20px;
}

.best-seller-item img {
    width: 100%;
    margin: 10 20;
}

.best-seller-item-name,
.best-seller-item-price {
    font-size: 20px;
    font-weight: 800;
    color: rgb(128, 128, 128);
}

.latest {

    margin: auto 200px;
    overflow: hidden;
    height: 300px;
    margin-top: 150px;
}


.foot {
    display: flex;
    justify-content: space-around;
    /* background-color: #F2F6FC; */
    background-color: black ;
    margin-top: 60px;
    padding-top: 50px;
}

.footer-content {
    max-width: calc((100%*11)/1);
}

.foot-content h4 {
    color: #a7aeb8;
    font-size: 1.2rem;
    font-weight: bold;
}

.content-title {
    font-weight: 700;
    letter-spacing: 0.125em;
    color: #a7aeb8;
}

.content-title-conten {
    color: #a7aeb8;
}

.content-title-conten i{
   font-size: 35px;
}


.below-hr {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
}

.below-hr-left {
    margin-top: 40px;
    margin-left: 200px;

    font-weight: 700;
    letter-spacing: 0.125em;
    color: #a7aeb8;
    
}

.below-hr-right {
    margin-top: 40px;
    margin-right: 200px;

    font-weight: 700;
    letter-spacing: 0.125em;
    color: #a7aeb8;
} 