.main {
    display: flex;
    margin: 100 50;
}

.main-image {
    width: calc((100%/12)*6);
}

.main-image-content {
    width: 100%;
}


.main-image-content img {
    width: 100%;
}

.main-log {
    width: calc((100%/12)*6);
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgb(200, 200, 200);
}

.main-log-title {
    font-size: 25px;
    font-weight: 800;
    color: gray;
    text-align: center;
}

.main-log-info{
    font-weight: 800;
    color: rgb(118, 118, 118);
}

.remember{
    font-size: 15px;
    font-weight: 600;
    color:rgb(124, 122, 114) ;
}


.submit button{
    width: 130%;
    font-size: 18px;
    font-weight: 800;
    border: none;
    background: rgb(118, 118, 118);
    color: rgb(206, 209, 212);
    border-radius: 20px;
}

.error{
    color: rgb(179, 25, 25);
    font-size: 18px;
}

input {
    width: 130%;
    height: 35px;
    border-radius: 5px;
    border: none;
   background-color: rgb(156, 156, 156);
   font-size: 15px;
   font-weight: 500;
   outline: none;
}